body{
    display: grid;
    
    
    
}

.app{
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-rows: 4, 1pr;
    grid-template-columns: 3 ,1pr;
    grid-template-areas: 
    'hdr hdr hdr hdr',
    'lbn src but rbn',
    'lbn res txt rbn',
    'lbn ftr ftr rbn'
}

img{
    width: 100%;
}

.header{
    display: flex;
    justify-content: center;
    grid-area: hdr;
    grid-column: 1/8;
    grid-row: 1/2;

}

.left-banner{
    padding: 0%;
    margin: 0%;
    grid-area: lbn;
    grid-row: 2/8;
    grid-column: 1/2;
    ;
}

.right-banner{
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: flex-end;
    grid-area: rbn;
    grid-column: 7/8;
    grid-row: 2/8;
}

.search{
    grid-area: src;
    grid-row: 2/3;
    grid-column: 3/4;
}

.search-button{
    grid-area: but;
    grid-column: 4/5;
    grid-row: 2/3
}

.Catch{
    grid-row:2/3 ;
    grid-column: 5/6;
}

.text{
    
    grid-area: txt;
    grid-row: 3/4;
    grid-column: 2/7;
}

.result{
    grid-row: 4/5;
    grid-column: 2/7;
}

.footer{
    grid-area: ftr; 
    grid-row: 8/9;
    grid-column: 1/8;
}

